body {
    font-size: medium;
}

.container {
    width: 1170px;
}

nav.navbar {
    background: #cff;
    font-weight: bold;
    font-size: 130%;
}

.table-hover tbody tr:hover td {
    background: #ffb;
}
